meta(name="viewport", content="width=device-width, initial-scale=1")
link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
//script(src="/libs/moment/min/moment.min.js")
link(href="/build/index.css", rel="stylesheet")
link(href="/libs/font-awesome/css/font-awesome.min.css", rel="stylesheet")
link(href="/libs/summernote/dist/summernote.css", rel="stylesheet")
script(src="/libs/summernote/dist/summernote.min.js")

